In [367]:
import pandas as pd
import numpy as np

In [368]:
macro=pd.read_excel("Moldova_macro_08082024.xlsx", sheet_name="Sheet1")
df=pd.read_csv("data_with_macro.csv")

In [369]:
macro.head(10)

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,Moldova,Currency,2024-08-08T00:00:00,17.67772,Daily,USDMDL,2024-08-16T09:47:13.077
1,Moldova,Currency,2024-08-07T00:00:00,17.66201,Daily,USDMDL,2024-08-16T09:47:13.077
2,Moldova,Interest Rate,2024-08-06T00:00:00,3.60000,Daily,MOLDOVAINTTRATE,2024-08-06T13:44:00
3,Moldova,Currency,2024-08-06T00:00:00,17.68080,Daily,USDMDL,2024-08-16T09:47:13.077
4,Moldova,Currency,2024-08-05T00:00:00,17.71966,Daily,USDMDL,2024-08-16T09:47:13.077
5,Moldova,Currency,2024-08-02T00:00:00,17.77072,Daily,USDMDL,2024-08-16T09:47:13.077
6,Moldova,Currency,2024-08-01T00:00:00,17.65897,Daily,USDMDL,2024-08-16T09:47:13.077
7,Moldova,Inflation Rate,2024-07-31T00:00:00,4.80000,Monthly,MOLDOVAINFNRATE,2024-08-12T07:01:00
8,Moldova,Food Inflation,2024-07-31T00:00:00,4.20000,Monthly,MOLDOVAFOOINF,2024-08-12T07:20:00
9,Moldova,Consumer Price Index CPI,2024-07-31T00:00:00,4211.14000,Monthly,MOLDOVACONPRIINDCPI,2024-08-12T07:23:00

In [370]:
macro["Country"].unique()

array(['Moldova'], dtype=object)

In [372]:
df["date_disbursement"].head(15)

0     2019-03-06
1     2019-05-08
2     2020-08-19
3     2023-11-17
4     2023-03-31
5     2019-01-11
6     2023-01-25
7     2024-03-11
8     2020-03-11
9     2019-11-19
10    2022-11-17
11    2020-02-20
12    2020-11-04
13    2019-07-22
14    2020-02-06
Name: date_disbursement, dtype: object

In [374]:
daily=macro[macro["Frequency"]=="Daily"]
daily_grouped=daily.groupby("Category")

In [375]:
categories=macro["Category"].unique()

df[categories]=np.nan
df[categories]

,Currency,Interest Rate,Inflation Rate,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [377]:
df['date_disbursement'] = pd.to_datetime(df['date_disbursement'])
macro["DateTime"]=pd.to_datetime(macro["DateTime"])

In [378]:
yearly=macro[macro["Frequency"]=="Yearly"]

df['date_disbursement'] = pd.to_datetime(df['date_disbursement'])
yearly['DateTime'] = pd.to_datetime(yearly['DateTime'])

df['Year'] = df['date_disbursement'].dt.year
yearly['Year'] = yearly['DateTime'].dt.year

merged_df = df.merge(yearly, how='left', left_on='Year', right_on='Year')

for category in yearly['Category'].unique():
    if category in merged_df.columns:
        df[category] = merged_df["Value"]

df = df.drop(columns=['Year'])
df = df.reset_index(drop=True)

df

/var/folders/zc/bzfvn6lx1c1_30p_zl2yr9lw0000gn/T/ipykernel_67814/3734743971.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yearly['DateTime'] = pd.to_datetime(yearly['DateTime'])
/var/folders/zc/bzfvn6lx1c1_30p_zl2yr9lw0000gn/T/ipykernel_67814/3734743971.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yearly['Year'] = yearly['DateTime'].dt.year

,Unnamed: 0.1,Unnamed: 0,branch,product_details,amount,amount_mdl,maturity_months,ir,eir,grace_period,...,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,0,0,drochia,rapid_loan_75_001_150000_mdl,60000,60000,24,20.0,34.1928,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
1,1,1,balti,rapid_loan_<=75_000_mdl,15000,15000,12,25.0,43.8648,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
2,2,2,balti,rapid_loan_<=75_000_mdl,15000,15000,8,25.0,43.8000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
3,3,3,ungheni,rapid_loan_75_001_150000_mdl,65000,65000,36,20.0,32.8248,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
4,4,4,balti,rapid_loan_75_001_150000_mdl,150000,150000,30,28.0,40.2156,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.30,-5.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,1062,1062,comrat,rapid_loan_75_001_150000_mdl,100000,100000,36,18.0,304392.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
1063,1063,1063,comrat,rapid_loan_<=75_000_mdl,40000,40000,24,27.0,399024.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.54,16.54
1064,1064,1064,comrat,rapid_loan_<=75_000_mdl,30000,30000,15,25.0,422352.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.30,-3.30
1065,1065,1065,comrat,rapid_loan_75_001_150000_mdl,55000,55000,9,19.0,297324.0000,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.51,14.51
1066,1066,1066,comrat,rapid_loan_75_001_150000_mdl,60000,60000,24,25.0,333288.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.54,16.54

In [379]:
quarterly=macro[macro["Frequency"]=="Quarterly"]
print(quarterly["Category"].value_counts())

Category
Wages                29
Unemployment Rate    29
Remittances          29
GDP Growth Rate      29
Current Account      29
Name: count, dtype: int64

In [380]:
def expand_quarterly_data(df):
    expanded_rows = []
    for _, row in df.iterrows():
        end_of_quarter = row['DateTime']
        start_of_quarter = end_of_quarter - pd.DateOffset(months=2)
        months = [start_of_quarter + pd.DateOffset(months=i) for i in range(3)]
        for month in months:
            expanded_rows.append({'DateTime': month, 'Value': row['Value'], "Category": row["Category"]})
    return pd.DataFrame(expanded_rows)

expanded_macro = expand_quarterly_data(quarterly)
print(expanded_macro.head(5))
expanded_macro['MonthYear'] = expanded_macro['DateTime'].dt.to_period('M')
print(expanded_macro["MonthYear"].head(5))

df['date_disbursement'] = pd.to_datetime(df['date_disbursement'])
df['MonthYear'] = df['date_disbursement'].dt.to_period('M')
print(df["MonthYear"].head(5))

merged_data = pd.merge(df, expanded_macro, left_on='MonthYear', right_on='MonthYear', how='left')
merged_data = merged_data.drop(columns=['DateTime'])

for category in merged_data['Category'].unique():
    if category in merged_data.columns:
        df[category] = merged_data["Value"]

df=df.drop("MonthYear", axis=1)
df = df.reset_index(drop=True)

df.head(20)

    DateTime    Value           Category
0 2024-01-31  13170.3              Wages
1 2024-02-29  13170.3              Wages
2 2024-03-31  13170.3              Wages
3 2024-01-31      4.4  Unemployment Rate
4 2024-02-29      4.4  Unemployment Rate
0    2024-01
1    2024-02
2    2024-03
3    2024-01
4    2024-02
Name: MonthYear, dtype: period[M]
0    2019-03
1    2019-05
2    2020-08
3    2023-11
4    2023-03
Name: MonthYear, dtype: period[M]

,Unnamed: 0.1,Unnamed: 0,branch,product_details,amount,amount_mdl,maturity_months,ir,eir,grace_period,...,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,0,0,drochia,rapid_loan_75_001_150000_mdl,60000,60000,24,20.0,34.1928,0.0,...,NaN,NaN,NaN,6923.00,6923.00,6923.00,6923.00,6923.00,-1.40,-1.40
1,1,1,balti,rapid_loan_<=75_000_mdl,15000,15000,12,25.0,43.8648,0.0,...,NaN,NaN,NaN,7.70,7.70,7.70,7.70,7.70,11.74,11.74
2,2,2,balti,rapid_loan_<=75_000_mdl,15000,15000,8,25.0,43.8000,0.0,...,NaN,NaN,NaN,220.60,220.60,220.60,220.60,220.60,-1.40,-1.40
3,3,3,ungheni,rapid_loan_75_001_150000_mdl,65000,65000,36,20.0,32.8248,0.0,...,NaN,NaN,NaN,-1.40,-1.40,-1.40,-1.40,-1.40,11.74,11.74
4,4,4,balti,rapid_loan_75_001_150000_mdl,150000,150000,30,28.0,40.2156,0.0,...,NaN,NaN,NaN,-232.00,-232.00,-232.00,-232.00,-232.00,-5.30,-5.30
5,5,5,comrat,rapid_loan_75_001_150000_mdl,70000,70000,24,20.0,34.6308,0.0,...,NaN,NaN,NaN,7302.60,7302.60,7302.60,7302.60,7302.60,11.53,11.53
6,6,6,balti,rapid_loan_75_001_150000_mdl,60000,60000,22,25.0,34.3956,8.0,...,NaN,NaN,NaN,4.50,4.50,4.50,4.50,4.50,16.54,16.54
7,7,7,balti,rapid_loan_75_001_150000_mdl,90000,90000,36,23.0,35.8332,0.0,...,NaN,NaN,NaN,240.38,240.38,240.38,240.38,240.38,16.54,16.54
8,8,8,cahul,rapid_loan_75_001_150000_mdl,100000,100000,24,20.0,33.5304,3.0,...,NaN,NaN,NaN,4.50,4.50,4.50,4.50,4.50,-1.40,-1.40
9,9,9,balti,rapid_loan_<=75_000_mdl,20000,20000,12,25.0,37.6992,4.0,...,NaN,NaN,NaN,-313.23,-313.23,-313.23,-313.23,-313.23,11.74,11.74
10,10,10,balti,rapid_loan_75_001_150000_mdl,100000,100000,36,25.0,35.7300,4.0,...,NaN,NaN,NaN,8074.30,8074.30,8074.30,8074.30,8074.30,16.54,16.54
11,11,11,balti,rapid_loan_75_001_150000_mdl,90000,90000,24,20.0,31.9056,0.0,...,NaN,NaN,NaN,3.40,3.40,3.40,3.40,3.40,NaN,NaN
12,12,12,chisinau_strcalea_iesilor,rapid_loan_75_001_150000_mdl,100000,100000,24,20.0,34.4868,0.0,...,NaN,NaN,NaN,288.21,288.21,288.21,288.21,288.21,-5.30,-5.30
13,13,13,balti,rapid_loan_<=75_000_mdl,26000,26000,24,25.0,39.0264,7.0,...,NaN,NaN,NaN,2.30,2.30,2.30,2.30,2.30,11.53,11.53
14,14,14,edinet,rapid_loan_75_001_150000_mdl,80000,80000,24,20.0,33.3672,0.0,...,NaN,NaN,NaN,-349.33,-349.33,-349.33,-349.33,-349.33,-1.40,-1.40
15,15,15,soroca,rapid_loan_<=75_000_mdl,30000,30000,12,25.0,36.5532,0.0,...,NaN,NaN,NaN,13401.10,13401.10,13401.10,13401.10,13401.10,11.74,11.74
16,16,16,balti,rapid_loan_<=75_000_mdl,25000,25000,24,24.0,38.1144,0.0,...,NaN,NaN,NaN,4.90,4.90,4.90,4.90,4.90,-3.30,-3.30
17,17,17,cahul,rapid_loan_75_001_150000_mdl,75000,75000,7,20.0,35.6700,0.0,...,NaN,NaN,NaN,268.85,268.85,268.85,268.85,268.85,14.51,14.51
18,18,18,edinet,rapid_loan_<=75_000_mdl,21000,21000,24,25.0,39.6960,1.0,...,NaN,NaN,NaN,0.10,0.10,0.10,0.10,0.10,-5.30,-5.30
19,19,19,chisinau_str._puskin,rapid_loan_75_001_150000_mdl,65000,65000,12,20.0,39.0828,0.0,...,NaN,NaN,NaN,-522.87,-522.87,-522.87,-522.87,-522.87,11.53,11.53

In [381]:
monthly=macro[macro["Frequency"]=="Monthly"]
monthly["Category"].value_counts()

Category
Inflation Rate              91
Food Inflation              91
Consumer Price Index CPI    91
Balance of Trade            90
Name: count, dtype: int64

In [382]:
df['YearMonth'] = df['date_disbursement'].dt.to_period('M')
monthly['YearMonth'] = monthly['DateTime'].dt.to_period('M')

merged_df = df.merge(monthly, how='left', left_on='YearMonth', right_on='YearMonth')

for category in monthly['Category'].unique():
    if category in merged_df.columns:
        df[category] = merged_df["Value"]

df = df.drop(columns=['YearMonth'])
df = df.reset_index(drop=True)

df.head(20)

/var/folders/zc/bzfvn6lx1c1_30p_zl2yr9lw0000gn/T/ipykernel_67814/598351072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly['YearMonth'] = monthly['DateTime'].dt.to_period('M')

,Unnamed: 0.1,Unnamed: 0,branch,product_details,amount,amount_mdl,maturity_months,ir,eir,grace_period,...,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,0,0,drochia,rapid_loan_75_001_150000_mdl,60000,60000,24,20.0,34.1928,0.0,...,2.80,2.80,2.80,6923.00,6923.00,6923.00,6923.00,6923.00,-1.40,-1.40
1,1,1,balti,rapid_loan_<=75_000_mdl,15000,15000,12,25.0,43.8648,0.0,...,3.78,3.78,3.78,7.70,7.70,7.70,7.70,7.70,11.74,11.74
2,2,2,balti,rapid_loan_<=75_000_mdl,15000,15000,8,25.0,43.8000,0.0,...,2474.61,2474.61,2474.61,220.60,220.60,220.60,220.60,220.60,-1.40,-1.40
3,3,3,ungheni,rapid_loan_75_001_150000_mdl,65000,65000,36,20.0,32.8248,0.0,...,-276.60,-276.60,-276.60,-1.40,-1.40,-1.40,-1.40,-1.40,11.74,11.74
4,4,4,balti,rapid_loan_75_001_150000_mdl,150000,150000,30,28.0,40.2156,0.0,...,4.60,4.60,4.60,-232.00,-232.00,-232.00,-232.00,-232.00,-5.30,-5.30
5,5,5,comrat,rapid_loan_75_001_150000_mdl,70000,70000,24,20.0,34.6308,0.0,...,8.04,8.04,8.04,7302.60,7302.60,7302.60,7302.60,7302.60,11.53,11.53
6,6,6,balti,rapid_loan_75_001_150000_mdl,60000,60000,22,25.0,34.3956,8.0,...,2529.26,2529.26,2529.26,4.50,4.50,4.50,4.50,4.50,16.54,16.54
7,7,7,balti,rapid_loan_75_001_150000_mdl,90000,90000,36,23.0,35.8332,0.0,...,-271.10,-271.10,-271.10,240.38,240.38,240.38,240.38,240.38,16.54,16.54
8,8,8,cahul,rapid_loan_75_001_150000_mdl,100000,100000,24,20.0,33.5304,3.0,...,3.50,3.50,3.50,4.50,4.50,4.50,4.50,4.50,-1.40,-1.40
9,9,9,balti,rapid_loan_<=75_000_mdl,20000,20000,12,25.0,37.6992,4.0,...,7.59,7.59,7.59,-313.23,-313.23,-313.23,-313.23,-313.23,11.74,11.74
10,10,10,balti,rapid_loan_75_001_150000_mdl,100000,100000,36,25.0,35.7300,4.0,...,2604.70,2604.70,2604.70,8074.30,8074.30,8074.30,8074.30,8074.30,16.54,16.54
11,11,11,balti,rapid_loan_75_001_150000_mdl,90000,90000,24,20.0,31.9056,0.0,...,-269.70,-269.70,-269.70,3.40,3.40,3.40,3.40,3.40,NaN,NaN
12,12,12,chisinau_strcalea_iesilor,rapid_loan_75_001_150000_mdl,100000,100000,24,20.0,34.4868,0.0,...,5.50,5.50,5.50,288.21,288.21,288.21,288.21,288.21,-5.30,-5.30
13,13,13,balti,rapid_loan_<=75_000_mdl,26000,26000,24,25.0,39.0264,7.0,...,5.02,5.02,5.02,2.30,2.30,2.30,2.30,2.30,11.53,11.53
14,14,14,edinet,rapid_loan_75_001_150000_mdl,80000,80000,24,20.0,33.3672,0.0,...,4059.08,4059.08,4059.08,-349.33,-349.33,-349.33,-349.33,-349.33,-1.40,-1.40
15,15,15,soroca,rapid_loan_<=75_000_mdl,30000,30000,12,25.0,36.5532,0.0,...,-358.00,-358.00,-358.00,13401.10,13401.10,13401.10,13401.10,13401.10,11.74,11.74
16,16,16,balti,rapid_loan_<=75_000_mdl,25000,25000,24,24.0,38.1144,0.0,...,21.98,21.98,21.98,4.90,4.90,4.90,4.90,4.90,-3.30,-3.30
17,17,17,cahul,rapid_loan_75_001_150000_mdl,75000,75000,7,20.0,35.6700,0.0,...,22.19,22.19,22.19,268.85,268.85,268.85,268.85,268.85,14.51,14.51
18,18,18,edinet,rapid_loan_<=75_000_mdl,21000,21000,24,25.0,39.6960,1.0,...,3964.54,3964.54,3964.54,0.10,0.10,0.10,0.10,0.10,-5.30,-5.30
19,19,19,chisinau_str._puskin,rapid_loan_75_001_150000_mdl,65000,65000,12,20.0,39.0828,0.0,...,-436.20,-436.20,-436.20,-522.87,-522.87,-522.87,-522.87,-522.87,11.53,11.53

In [384]:
macro[macro["Frequency"]=="Daily"]["Category"].value_counts()

Category
Currency         1985
Interest Rate      93
Name: count, dtype: int64

In [385]:
merged_df = df.merge(macro, how='left', left_on='date_disbursement', right_on='DateTime')

for category in macro['Category'].unique():
    if category in merged_df.columns:
        df[category] = merged_df["Value"]

df = df.reset_index(drop=True)

df[categories].head(20)

,Currency,Interest Rate,Inflation Rate,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832,16.9832
1,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520,17.8520
2,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250,16.4250
3,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000,17.7000
4,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000,11486.2000
5,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000,5.5000
6,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000,271.4000
7,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800,21.9800
8,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000,1.1000
9,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900,22.1900
10,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100,-545.4100
11,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400,3964.5400
12,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000,-436.2000
13,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515,18.2515
14,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000,17.0000
15,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400,18.7400
16,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800,17.5800
17,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470,17.3470
18,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475,17.3475
19,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500,19.0500

In [386]:
df[categories].isna().sum()

Currency                    1
Interest Rate               1
Inflation Rate              1
Food Inflation              1
Consumer Price Index CPI    1
Balance of Trade            1
Wages                       1
Unemployment Rate           1
Remittances                 1
GDP Growth Rate             1
Current Account             1
GDP                         1
Government Budget           1
dtype: int64

In [387]:
df.to_csv("data_with_macro.csv")